<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">College</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" href="#">Evenements</a>
        </li>
        
        <% Promotion.where(student: current_user.students.first).each do |promotion| %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= "#{promotion.classroom.name} #{promotion.year.name}" %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Evalutes</a></li>
            <li><a class="dropdown-item" href="#"> Paiements</a></li>
            <li><a class="dropdown-item" href="#">see work online</a></li>
            <li><a class="dropdown-item" href="#">Bulletin</a></li>
            <li><a class="dropdown-item" href="#">Observation disciplinary</a></li>
          </ul>
        </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="<%= destroy_user_session_path %>"> Deconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>