<h1 class="text-secondary text-center"> Create section </h1>

<div class= 'border border-1 mt-3 w-50 p-3 d-block mx-auto'>
<%= form_with model: @section, url: sections_path, method: :post, class: 'w-100', local: true do |form| %>
<div class='input-group mb-3'>
  <%= form.label :name, class: 'input-group-text' %>
  <%= form.text_field :name, class: 'form-control'%>
</div>

<%= form.submit class: 'btn btn-primary' %>
<% end %>