<main class='container-fluid'>

  <div class='row gx-2 mt-3 mb-3'>
    <div class="col-md-5">
      <%= image_tag("pictures/ecole.png", :alt => "ecole picture", :class => "img-fluid") %>
    </div>
    <div class="col-md-6 ms-2 me-2">
    <h1> Bienvenu <%= @name %> </h1>
    <p class='text-secondary pt-3 mb-3'>
    College mwanga est une ecole qui existe depuis plus de 60ans maintenant.
    Nous organisons plusieur sections dont notament :
    <div class='text-secondary'>
    <% @sections.each do |section| %>
      <ul class="list-group list-group-horizontal mt-2">
        <li class="list-group-item"><%= section.name %></li>
        <li class="list-group-item">100 eleves</li>
        <li class="list-group-item"> <%= section.classrooms.count %> salles de classes</li>
      </ul>
     
      <% end %>
    </div>
    </p>
    <p class='text-secondary mt-3 mb-3'>
      Faites une suggestions aux dirigiants de l etablissement, dites nous ce que vous pensez
      de nous, ou d un enseignant en particulier ou d un cours, nous sommes la pour vous ecouter :

      <div class="input-group mb-3">
        <span class="input-group-text">Exprimez vous</span>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
      <button class='btn btn-primary'> Envoyez </button>
    </p>
    </div>
  </div>
  
</main>